.price{
    background-image: url("https://img.thuthuatphanmem.vn/uploads/2018/10/20/nice-starry-galaxy-wallpaper_104251259.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        padding: 2%;
        width: 1200px;
        height: 700px;
    }
}