

.showtimes{
    
   background-color: rgb(80,4,68);
   padding: 1%;
   padding-bottom: 2%;

   .category{
    width: 800px;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    .space{
        margin-left:100px ;
    }
    .a{
        background-color: #ffcc04;
        color: black;
        font-weight: 300;
        width: 200px;
        height: 50px;
        border-radius: 15px;
        text-align: center;
        margin: 10px;
    }
   }

   .listFilm{
   
    width: 100%;
    padding-left: 7%;
    padding-top:3%;
    padding-bottom: 3%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,600px);

    .film{
        padding-top: 5%;
        padding-left: 7%;
        display: flex;
        flex-direction: row;

        .filmDT{
            cursor: pointer;
            width: 500px;
            height: 350px;
            align-items: center;
            padding: 3%;
            display: flex;
            flex-direction: row;
            border-radius: 10%;
            background-color: rgb(248,132,36);

            .pic{
            border: 3px solid wheat;
            height: 300px;
            width: 200px;

            img{
                height: 100%;
                width: 100%;
            }
        }

        .detail{
            color: white;
            padding: 2%;
           
            h1{
                font-size: 25px;
                font-weight: bold;
            }
            width: 300px;
        }
        }
        

        

       
    }
   }
    
}