.cinemas {
  background-color: var(--color-violet);
  color: white;
}
.titlee {
  user-select: none;
  line-height: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

}

.gridCinema {
  display: flex;
  padding: 80px 80px;
  justify-content: center;
  flex-wrap: wrap;
  background: var(--color-violet);

  .gridCinema__container {
   
    margin: 0 30px 30px;
    flex: 1;

    .cinema {
      
      display: flex;
      padding: 10px 20px;
      background-color: var(--color-violet);
      height: 100%;

      img {
        height: 200px;
        width: 200px;
        border: 2px solid #fff;
        border-radius: 50%;
      }

      .detail {
        padding-left: 20px;
        h1 {
          font-family: "Kanit", sans-serif;
          font-size: 30px;
          color: white;
        }

        .star {
          color: rgb(241, 241, 4);
        }
        .location {
          .inLine {
            display: inline;
          }
        }
      }
    }
  }
}
