.seat_img {
  height: 55px;
  width: 55px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 5px;
  background: #ededed;
  margin-right: 5px;
  img {
    width: 100%;
  }
  p {
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 25%;
  }
}

.seat_item {
  height: 36px;
  width: 40px;
  margin-right: 50px;
  overflow: hidden;
  .seat_item_chair_top {
    height: 75%;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    .seat_item_chair_top_content {
      border-top: 140px solid #f3751f;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      position: absolute;
      left: -14%;
      top: 0;
      border-radius: 12px 12px 0 0;
      width: 0;
      height: 0;
    }
    p {
      margin: 0;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      position: relative;
      z-index: 1;
    }
  }
  .seat_item_chair_bot {
    height: 25%;
    background: #f3751f;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    width: 98%;
    margin: 0 auto;
    .seat_item_chair_bot_border {
      border-left: 18px solid #f3751f;
      border-right: 18px solid #f3751f;
      border-top: 2px solid #fff;
      height: 0;
      width: 0;
      margin: 0 auto;
    }
  }
}