.movie-complex {
  background-color: rgb(250, 250, 250);
  margin-top: 140px;
  padding-bottom: 3%;

  .nd {
    width: 100%;

    background-image: url("https://cpad.ask.fm/968/241/018/-259996966-1sq327n-8ichtstghd7llbk/original/1d08f882cffa656b20c3bbfcea20d23f.jpg");
    margin-bottom: 10px;

    .title {
      font-size: 30px;
      text-align: center;
      color: white;
      font-weight: bold;
    }

    .ct {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      p {
        font-size: 25px;
        border: 1px solid snow;
        padding: 2%;
        font-weight: bold;
        background: #4e0045;
        color: white;
      }
    }
  }

  .movie-screen {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    background-color: #969696;
    border-radius: 25px;
    height: 50px;
    width: 60%;
    margin-bottom: 3%;
    box-shadow: 5px 5px 0 rgb(0 0 0 / 10%);

    p {
      font-family: "Kanit", sans-serif;
      font-size: 25px;
      color: white;
      font-weight: bold;
    }
  }

  .ghiChu {
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    align-items: center;

    h1 {
      margin-left: 40px;
      font-size: 20px;
      text-align: left;
      color: red;
      font-weight: bold;
    }

    .ghe {
      display: flex;

      p {
        margin-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        font-weight: bold;
        .book {
          width: 50px;
          height: 50px;
          margin-left: 16px;
          background-color: #00843e;
        }
        .default {
          width: 50px;
          height: 50px;
          margin-left: 16px;

          background-color: #f3751f;
        }
        .select {
          width: 50px;
          height: 50px;
          margin-left: 16px;
          background-color: #008fbe;
        }
      }
    }
  }

  .row {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .seat__total {
    display: flex;
    justify-content: center;
  }
  .movie-button {
    display: flex;
    padding: 10px;
    justify-content: center;
    button {
      border-radius: 0 25% 0 25%;
      margin-right: 45px;
      background-color: #f3751f;
      color: white;
      font-size: 20px;
      font-weight: bold;
      min-width: 200px;
      min-height: 50px;
      cursor: pointer;
      padding: 12px 30px;
      text-transform: uppercase;
    }
    .disabled {
      cursor: not-allowed;
      background-color: #00000073;
    }
  }
}

.seat_item {
  height: 36px;
  width: 40px;
  margin-right: 50px;
  overflow: hidden;
  .seat_item_chair_top {
    height: 75%;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    .seat_item_chair_top_content {
      border-top: 140px solid #f3751f;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      position: absolute;
      left: -14%;
      top: 0;
      border-radius: 12px 12px 0 0;
      width: 0;
      height: 0;
    }
    p {
      margin: 0;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      position: relative;
      z-index: 1;
    }
  }
  .seat_item_chair_bot {
    height: 25%;
    background: #f3751f;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    width: 98%;
    margin: 0 auto;
    .seat_item_chair_bot_border {
      border-left: 18px solid #f3751f;
      border-right: 18px solid #f3751f;
      border-top: 2px solid #fff;
      height: 0;
      width: 0;
      margin: 0 auto;
    }
  }
}
