.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 140px;
  z-index: 2;
  background-size: contain;
  -webkit-background-size: contain;
  transition: all 0.3s ease-in-out;
  background: #4e0045;
  .nav {
    max-width: 1160px;
    margin: auto;
    .header_top {
      text-align: right;
      display: flex;
      justify-content: flex-end;
      height: 42px;
      align-items: center;
      margin-bottom: 14px;
      margin-top: 8px;
      .header_top__search {
        height: 100%;
        margin-right: 10px;
        width: 226px;
        position: relative;
        input {
          height: 100%;
          width: 100%;
          border-radius: 40px;
          background: #000;
          color: #8e8e8e;
          padding: 0 10px;
        }

        .header_top__search__result {
          background: #fff;
          width: 100%;
          position: absolute;
          z-index: 3;
          .header_top__search__result__item {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid;
            &:hover {
              background: #e00d7a;
              color: #fff;
            }
            a {
              display: flex;
              align-items: center;
              img {
                width: 40px;
                height: 40px;
                object-fit: cover;
              }
              span {
                flex: 1;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center;
                color: #000;
              }
            }
          }
        }
      }

      .header_top__button {
        margin-right: 10px;
        margin-right: 10px;
        line-height: 42px;
        button {
          border-radius: 10px;
          padding: 0px 10px;
          background: #ba3469;
          color: #fff;
          cursor: pointer;
          height: 100%;
        }
        span {
          display: block;
          background: #fff;
          width: 40px;
          height: 40px;
          line-height: 45px;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .header_top__language {
        text-transform: uppercase;
        a {
          background-color: #ba3469;
          width: 39px;
          height: 39px;
          font-size: 14px;
          color: #fff;
          text-align: center;
          line-height: 39px;
          display: inline-block;
          border-radius: 50%;
          font-weight: bold;
        }
      }
    }
    .header_bot {
      display: flex;
      justify-content: flex-end;
      position: relative;
      .header_bot__logo {
        height: 90px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        img {
          height: 100%;
        }
      }
      .header_bot__menu {
        display: flex;
        align-items: center;
        .header_bot__home {
          height: 52px;
          width: 52px;
          margin-right: 22px;
          a {
            color: #fff;
            background-color: #e00d7a;
            height: 100%;
            width: 100%;
            line-height: 52px;
            border-radius: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              height: 30px;
              width: 30px;
            }
          }
        }
        .header_bot__nav {
          position: relative;
          padding: 3px;
          border: 1px solid #e00d7a;
          border-radius: 30px;
          display: inline-block;
          vertical-align: middle;
          height: 50px;
          ul {
            display: flex;
            list-style-type: none;
            background: #e00d7a;
            text-transform: uppercase;
            font-weight: bold;
            height: 100%;
            border-radius: 30px;
            align-items: center;
            height: 42px;
            margin: 0;
            .li-not-active{
              padding: 0px 15px;
              color: #fff;
              line-height: 42px;
              cursor: pointer;
              
              &:hover{
                background-color: #f18720;
                border-radius: 25px;
              }
            }
            .li-active{
              padding: 0px 15px;
              background-color: #f18720;
              color: black;
              line-height: 42px;
              cursor: pointer;
              
              &:hover{
                background-color: #f18720;
                border-radius: 25px;
              }
            }
          }
        }
      }
    }
  }
}
