@import "_setting.scss";

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;

  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  min-height: 100vh;
}

p {
  margin: 0;
  padding: 0;
}
